<div class="center-block container">
  <div class='form-row col-md-12'>
    <div class="col-md-4"></div>
    <div class='col-md-4 error form-group'>
      <div class='alert-danger alert payment-errors' ng-show="message">{{message}}</div>
    </div>
  </div>
  <h1 class="text-center" style="color: #083858">Sign In</h1>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form class="form" name="form" ng-submit="$ctrl.login()" novalidate>

        <div class="form-group">
          <label style="color: #083858;">Email</label><br/>

          <input type="email" name="email" class="form-control" placeholder="Enter email" ng-model="$ctrl.email" required>
        </div>

        <div class="form-group">
          <label style="color: #083858;">Password</label><br/>

          <input type="password" name="password" placeholder="Enter password" class="form-control" ng-model="$ctrl.password" required />
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-primary" type="submit">
            Sign in
          </button>
          <a class="btn btn-default btn-lg btn-register" href="#/signup">
            Register
          </a>
        </div>

        <hr>

        <div class="form-group has-error">
          <p class="help-block">{{ $ctrl.message }}</p>
        </div>

      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>

</div>
