<header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Your Giving Going Further</h1>
                <h3>Women creating a prosperous and inclusive world for all</h3>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://static.pexels.com/photos/17590/pexels-photo.jpg">
            <h2 class="featurette-heading">
                <span class="text-muted">OUR MISSION</span>
            </h2>
            <br />
            <p class="lead">Angels of Impact believes that we can end poverty and give the poor control of their lives by supporting social enterprises to grow into sustainable businesses. By focussing on women, A.I. aims to maximise the social impact of your money. And by working with enterprises which produce responsibly, you can help businesses which are helping the environment. It's about getting the most bang for your buck.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="https://static.pexels.com/photos/2128/person-woman-sitting-old.jpg">
            <h2 class="featurette-heading">
                <span class="text-muted">OUR APPROACH</span>
            </h2>
            <br />
            <p class="lead">Our investors are focused on the long-term success of the social businesses that A.I. funds. So they give long-term, low-interest loans to entrepreneurs who are too big for micro-finance but too small for more traditional investors. When the loans are repaid the money can be re-invested into other social enterprises. We call this ‘enterprise philanthropy’: money you can give again and again. </p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://static.pexels.com/photos/68491/pexels-photo-68491.jpeg">
            <h2 class="featurette-heading">
                <span class="text-muted">OUR GOALS</span>
            </h2>
            <br />
            <p class="lead">We believe passionately that together we can achieve these goals:
              <ul>
                <li>Responsible Consumption</li>
                <li>Gender Equality</li>
                <li>Eradication of poverty</li>
              </ul>
            </p>
        </div>

        <hr class="featurette-divider">
