<div class="center-block container">
  <h1 class="text-center" style="color: #083858;">Sign Up</h1>
  {{$ctrl.error}}
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form class="form" name="form" ng-submit="$ctrl.signup()" novalidate>

        <div class="form-group">
          <label style="color: #083858;">Name</label><br/>

          <input type="text" name="name" placeholder="Enter name" class="form-control" ng-model="$ctrl.name" required/>
        </div>

        <div class="form-group">
          <label style="color: #083858;">Email</label><br/>

          <input type="email" name="email" placeholder="Enter email" class="form-control" ng-model="$ctrl.email" required />
        </div>

        <div class="form-group">
          <label style="color: #083858;">Password</label><br/>
          <input type="password" name="password" placeholder="Enter password" class="form-control" ng-model="$ctrl.password" ng-minlength="6" required/>
        </div>

        <div class="form-group">
          <label style="color: #083858;">Password Confirmation</label><br/>
          <input type="password" name="password" placeholder="Reenter password" class="form-control" ng-model="$ctrl.confirm" ng-minlength="6" required/>
        </div>

        <div>
          <button class="btn btn-primary text-center btn-lg btn-login" type="submit">
            Sign up
          </button>
          <!-- <a class="btn btn-default btn-lg btn-register" href="/login">
          Login
        </a> -->
        <div class="col-sm-4"></div>
      </div>
    </div>
    <hr>
  </form>

</div>
