body{
  font-family: 'Roboto', sans-serif;
  font-weight:bolder;
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding-bottom:250px; /* Height of the footer element */
}
.padded-nav{
  font: bold 16px 'Lato';
  padding:10px;
  background-color: #89D69E;
}
.nav-font{
  color:black!important
}
a:hover{
  color:#275935!important
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
.product-div{
  border:1px solid rgb(237, 236, 236);
}
.likeModal, .priceModal{
  font-size:18px
}
.buttonModal{
  border-style: 1px solid black;
  background:rgb(240, 153, 23)
}
.ng-invalid {
  color: red;
}
.dropdown-qty{
  background:lightgrey
}
.badge {
    background-color: grey;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
